body {
    padding: 70px 0;
    overflow-y:scroll;
}

* {
    outline: none;
}

*:focus {
    outline: none;
}

.m-0-3-3-0{
    margin: 0 3px 3px 0 !important;
}

.btn-xs .close{
    font-size: 17.5px;
}
