<div class="row">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" [(ngModel)]="input" (ngModelChange)="searchForEmployees()" placeholder="Filter">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>&#10004;<!-- checkmark--></th>
                    <th class="tablesort-sortable">Name</th>
                    <th class="tablesort-sortable">Grade</th>
                    <th class="tablesort-sortable">Job</th>
                    <th class="tablesort-sortable">Age</th>
                </tr>
                </thead>
                <tbody *ngFor="let employee of foundEmployees">
                <tr (click)="selectEmployee(employee)">
                    <td><input type="checkbox" class="large-checkbox" [checked]="selectedTeamContains(employee.id)" (click)="toggleToSelectedTeam(employee, $event);" ></td>
                    <td><span [tooltip]="employee.grade + ' ' + employee.job" [textContent]="employee.name">John Doe</span></td>
                    <td [textContent]="employee.grade">Junior</td>
                    <td [textContent]="employee.job">QA</td>
                    <td [textContent]="employee.age">21</td>
                </tr>
                <tr *ngIf="selectedEmployee == employee">
                    <td colspan="5">
                        <div *ngFor="let feedback of employee.feedbacks">
                            <div class="col-md-6">{{feedback.text}}</div><div class="col-md-6"><b>{{feedback.name}}</b></div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <label attr.for="feedback{{index}}">Feedback</label>
                                <textarea [(ngModel)]="feedback.text" id="feedback{{index}}" class="form-control" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label attr.for="feedback-name{{index}}">Your name</label>
                                <input [(ngModel)]="feedback.name" type="text" id="feedback-name{{index}}" class="form-control">
                            </div>
                            <button (click)="addFeedback(employee)" class="btn btn-default" [disabled]="!feedback.name || !feedback.text">Send</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>